[user]
	email = gawasvedraj@gmail.com
	name = Vedraj Gawas
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[merge]
	conflictStyle = diff3
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
	defaultBranch = main
